a {
    color: black;
    background-color: #607d8b;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.darken {
  filter: /*sepia(0%)*/ saturate(200%) brightness(80%) hue-rotate(180deg);
}

.darken2 {
  filter: /*sepia(0%)*/ saturate(60%) brightness(80%) hue-rotate(180deg);
}

.style-opacity {
    opacity: 85%
}